@import url('./styles/normalize.css');
@import url('./styles/variables.css');
@import url('./fonts/font.css');
@import url('./index.css');
@import url('./swiper/index.css');

html {
    height: 100%;
}

body {
    font-family: var(--main-font), sans-serif;
    color: var(--text-color-black);
    background-color: var(--background-main-color);
    width: 100vw;
    overflow: hidden;

}

h1 {
    font-weight: 700;
    line-height: 143%;
    font-size: var(--title-text-size);
}

li {
    list-style-type: none;
    font-size: var(--link-text-size);
}

a {
    text-decoration: none;
}


a,
button {
    cursor: pointer;
}

body,
p,
h1,
li,
a,
ul,
button {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 16px;
}

* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        padding: 0 24px;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 1120px) {
    .container {
        padding: 0x 32px;
        max-width: 1120px;
    }
}


@media (hover: hover) {}