.header {
    background-color: var(--background-white-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-buttons__wrapper_right {
    justify-content: end;
}

.header-buttons__wrapper_left {
    justify-content: end;
}

.header-button {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    background-color: var(--pink-color);
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-lg);
}

.header-button__logo {
    max-width: 6rem;
    background: var(--background-white-color);
}

.header__logo {
    width: 100%;
}

.header_decor-line {
    border-radius: 0.0625rem;
    width: 0.125rem;
    height: 2rem;
    background-color: var(--background-decorLine-color);
}

.main {
    position: relative;
}

.title {
    position: relative;
    margin-bottom: 1.5rem;
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2.5rem;
    width: 0.25rem;
    background-color: var(--background-active-color);
    border-radius: var(--border-radius-sm);
}

.main__filter-items {
    max-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.main__filter-items::after {
    content: '';
    position: absolute;
    top: 5.6875rem;
    right: 0;
    width: 5.625rem;
    height: 20%;
    pointer-events: none;
    background: linear-gradient(to right,
            rgba(248, 248, 248, 0) 0%,
            rgba(248, 248, 248, 1) 100%);
    z-index: 1;
}

.main__items {
    display: flex;
    align-items: center;
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    padding: 2px;
    gap: 2px;
}

.main__items::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.main__item-button {
    padding: 0.5rem 1rem;
    color: var(--text-color-gray);
    font-weight: 500;
    font-size: 1rem;
}

.main__item-button:active {
    outline: 0.125rem solid var(--background-active-color);
    border-radius: var(--border-radius-md);
    background-color: var(--background-white-color);
    opacity: 0.8;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.description__service {
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 129%;
    letter-spacing: 0.01em;
    height: clamp(5.625rem, 3.553rem + 9.211vw, 10rem);
    overflow: hidden;
}

.description__button {
    width: max-content;
}

.description__image-wrapper {
    margin-bottom: 0.6875rem;
    width: 100%;
    z-index: 3;
}

.description__image {
    width: 100%;
}

.desktop,
.tablet {
    display: none;
}

@media (min-width: 768px) {
    .tablet {
        display: flex;
    }

    .title::before {
        left: -1.5rem;
    }

    .description {
        flex-direction: row;
    }

    .description__wrapper {
        width: 50%;
    }

    .description__image-wrapper {
        width: 50%;
    }
}

@media (min-width: 1120px) {
    .header__container.container {
        padding: 24px 24px;
    }

    .header-buttons__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .header-button__wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .header-button__description {
        font-weight: 500;
        font-size: 1rem;
    }

    .description__service {
        width: 100%;
    }

    .title__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .title::before {
        left: -2.125rem;
    }

    .desktop {
        display: inline-flex;
    }

    .tablet {
        display: none;
    }

    .header_decor-line {
        display: none;
    }

    .feedback {
        display: block;
        margin-left: 1.375rem;
        margin-bottom: 1.1875rem;
        color: var(--text-color-gray);
        font-weight: 500;
        font-size: 1rem;
    }
}

.header-button:active {
    opacity: 0.8;
}